.class0{
    border: 1px solid white;
    text-align: center;
    background-image: linear-gradient(90deg, red,green, yellow);  
}
.class1{
    background-color: skyblue;
    text-decoration: underline;
}
.class2{
    margin-left: 410px;
    border: 4px solid brown;
    border-radius: 7px;
    background-color: gray;
    width: 777px;
    height: 78px;
    margin-top: -29px;
    list-style-position: outside;

}
.class3{
   margin-left: 300px;


} 
.class4{
    border: 3px solid green;
    border-radius: 25px;
    width: 1503px;
    height: 212px;
}
.class6{
    margin-top: -1px;
    border-radius: 17px;
    width: 391px;
    padding-top: 8px;
    height: 91px;
    border: 3px solid brown;
    background-color: aqua;
    margin-left: 57px;
}
.class7{
    border-radius: 17px;
    width: 391px;
    padding-top: 8px;
    height: 91px;
    border: 3px solid brown;
    background-color: aqua;
    margin-left: 545px;
    margin-top: -122px;
}
.class8{
    border-radius: 17px;
    width: 391px;
    padding-top: 8px;
    height: 91px;
    border: 3px solid brown;
    background-color: aqua;
    margin-left: 1038px;
    margin-top: -121px;

}
.class9{
    margin-top: -16px;
    border-radius: 17px;
    width: 391px;
    padding-top: 10px;
    height: 91px;
    border: 3px solid brown;
    background-color: aqua;
    margin-left: 547px;
}.class11{
    background-image: linear-gradient(90deg,red,yellow,red);
    text-decoration-color: red;
    text-decoration: underline;
    margin-top: 0px;
    text-align: center;
    height: 32px;
    text-decoration-color: red;
    font-size: large;
    font-weight: 600;
}
.class12 {
    border: 2px solid brown;
    border-radius: 1px;
    height: 238px;
    width: 1490px;
    background-image: radial-gradient(blue,green);
}
.class13{
    border-radius: 15px;
    border: 2px solid red;
    background-color: yellow;
    width: 210px;
    text-align: center;
    height: 134px;
    margin-left: 74px;
    margin-top: 37px;
    font-size: larger;
    font-weight: 600;
    line-height: 31px;
    padding: 21px 1px 1px 17px;
    text-decoration:underline;
    text-decoration-color: red;
}
.class14{ 
    border-radius: 15px;
    border: 2px solid red;
    background-color: yellow;
    width: 210px;
    text-align: center;
    height: 134px;
    margin-left: 413px;
    margin-top: -160px;
    font-size: larger;
    font-weight: 600;
    line-height: 31px;
    text-decoration:underline;
    text-decoration-color: red;
    padding: 21px 1px 1px 17px;

}
.class15{
    border-radius: 15px;
    border: 2px solid red;
    background-color: yellow;
    width: 210px;
    text-align: center;
    height: 134px;
    margin-left: 791px;
    margin-top: -162px;
    font-size: larger;
    font-weight: 600;
    line-height: 31px;
    padding: 21px 1px 1px 17px;
    text-decoration:underline;
    text-decoration-color: red;
}
.class16{
    border-radius: 15px;
    border: 2px solid red;
    background-color: yellow;
    width: 210px;
    text-align: center;
    height: 134px;
    margin-left: 1144px;
    margin-top: -162px;
    font-size: larger;
    font-weight: 600;
    line-height: 31px;
    padding: 21px 1px 1px 17px;
    text-decoration:underline;
    text-decoration-color: red;
}
.class17{
    border: 2px solid green;
    border-radius: 4px;
    height: 429px;
    width: 1496px;
    display: grid;
    grid-template-columns: repeat(4,1fx) ;
    grid-template-rows: repeat(4,1f);
    row-gap: 10px;
    column-gap: 10px;
    background-color: pink;
}
.class18{
    background-color: red;
    height: 20px;
    width: 800px;

}







.container{
    display: grid;
    height: 62px;
    width: 1500px;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows: 60% 150% 170% 50%;
    grid-template-columns: 2fr 2fr 2fr 10%;
    
}

.classa{
    text-decoration: underline;
    text-decoration-color: white;
}

.child1{
    background-color: pink;
    grid-column: 1/5;
    color: white;
    font-size: larger;
    text-align: center;
}
.child2{
    background-color: skyblue;
    text-align: center;
    padding-top: 33px;
    font-size: larger;
    padding-right: 30px;
}
.child3{
    background-color: blue;
    padding-top: 40px;
    padding-left: 84px;
    font-size: larger;
}
.child4{
    background-color: red;
    padding-top: 19px;
    font-size: large;
}
.child5{
    background-color: brown;
    grid-row: 2/4;
    grid-column: 4/4;
    color: white;
    font-size: large;
}
.child6{
 background-color: yellow;
 grid-column: 1/4;
}
.child7{
    background-color: tomato;
    grid-column: 1/5;
    text-align: center;
    font-size: larger;
}